extends layout
//- script(src="../public/javascripts/sketch.js")

block content
	h1= title
	a(href='/emergency2') NEXT EXAMPLE
	p In the last example the driver waited to make sure the ambulance had passed, anticipating more emergency vehicles, luckily there were none
	p This example is different, and the driver is not as careful
	p An experienced driver will wait until the ambulance has completely left the area before proceeding because they know other vehicles could be following
	p In the example the driver takes extra time after the ambulance has cleared the intersection before turning, check out the next example to see why
  	a(href='/emergency2') NEXT EXAMPLE



	script(src='/javascripts/emergency.js')