extends layout
//- script(src="../public/javascripts/sketch.js")

block content
	h1= title
	h3= inst
	a(href='https://www.linkedin.com/in/michaelcpospisil') NEXT EXAMPLE
	hr
	a(href='/') Back To Beginning
	p In the last example the driver waited to make sure the ambulance had passed, anticipating more emergency vehicles, luckily there were none
	p This example is different, and the driver is not as careful
	p The driver watches the ambulance pass and thinks they can proceed without waiting, however there are two more cop cars following




	script(src='/javascripts/emergency2.js')