extends layout
//- script(src="../public/javascripts/sketch.js")

block content
	h1= title
	h3= inst
	a(href='/emergency2') NEXT EXAMPLE
	p In an emergency a driver will likely notice the lights and sirens from a distance, in which case they will wait for the emergency to pass before proceeding
	p An experienced driver will wait until the ambulance has completely left the area before proceeding because they know other vehicles could be following
	p In the example the driver takes extra time after the ambulance has cleared the intersection before turning, check out the next example to see why



	script(src='/javascripts/emergency.js')