extends layout
//- script(src="../public/javascripts/sketch.js")

block content
	h1= title
	p Welcome to #{title}
	p A general rule at a four way stop is that the car that gets there first goes first
	p In order to make it interesting, for the next example we are assuming that the cars reach the stop at the same time


	script(src='/javascripts/sketch.js')