extends layout
//- script(src="../public/javascripts/sketch.js")

block content
	h1= title
	a(href='/straightfirst') NEXT EXAMPLE
	p Welcome to #{title}
	p A general rule at a four way stop is that the car that gets there first goes first.
	p This is especially true for left-hand turns since the intersection must be clear.
	p In this example the driver in the car of lane 5 would wait for the driver in lane 1 to complete their right turn, before making a left.
	p The only case this would not be true is when a driver in lane 3 clearly had their right-hand blinker on.


	script(src='/javascripts/sketch.js')