extends layout
//- script(src="../public/javascripts/sketch.js")

block content
	h1= title
	a(href='/emergency') NEXT EXAMPLE
	p Pedestrians cause a hazard because they can come out of nowhere, and may not stay in the crosswalks.
	p When the viper pulls up to the stop the driver is checking the position of each zombie..ermm pedestrian before proceeding.
	p This means not only checking for pedestrians on the road but also anticipating the trajectory of other pedestrians.
	p In the example the driver waits for every one to cross. Once the last (particularly slow) pedestrian is on the sidewalk, he turns.
	p There are cases (downtown SF) in which it can be conventional to 'push' your way through a stream of pedestrians. This is dangerous, however it should be noted that there is a pressure to do so in traffic conditions.


	script(src='/javascripts/pedestrian.js')