extends layout
//- script(src="../public/javascripts/sketch.js")

block content
	h1= title
	a(href='/twoeven') NEXT EXAMPLE
	p Left-hand turns require patience, the viper driver may want to beat the red car since they arrived together, but if the red car is going straight, it has the right of way.
	p Although it is always better to wait when making a left-hand turn, '#{title}' is a well observed convention
	p In many places a violation of #{title} could be reason for more than just animosity
	p In this example, two cars approach at the same time, the red car is going straight, so the viper needs to wait to go or risk pissing off the other driver


	script(src='/javascripts/pedestrian.js')