extends layout
//- script(src="../public/javascripts/sketch.js")

block content
	h1= title
	a(href='/straightfirst') NEXT EXAMPLE
	p When their are many cars at a four-way stop it can be uncertain who has the 'Right of Way' but there is a simple rule you can follow...
	p The rule is called 'Farthest Right Goes First', this basically means, look to your right and if someone is there wait for them to go, otherwise, it is your turn
	p In this example, three cars arrive at the same time and use this rule to resolve the stop, however, you can't assume everyone will follow this convention


	script(src='/javascripts/rightofway.js')